/* Variables */

@font-face {
    font-family: 'Sohne';
    src: url('assets/fonts/Sohne-BuchKursiv.woff2') format('woff2'),
        url('assets/fonts/Sohne-BuchKursiv.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Sohne';
    src: url('assets/fonts/Sohne-Halbfett.woff2') format('woff2'),
        url('assets/fonts/Sohne-Halbfett.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sohne';
    src: url('assets/fonts/Sohne-HalbfettKursiv.woff2') format('woff2'),
        url('assets/fonts/Sohne-HalbfettKursiv.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Sohne';
    src: url('assets/fonts/Sohne-Buch.woff2') format('woff2'),
        url('assets/fonts/Sohne-Buch.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


/* Typography */

p, a {
	font-family: Sohne;
	letter-spacing: -0.05em;
	font-size: 12px;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}

/* Main */

body {
	margin: 0;
}

ul {
	list-style: none;
	margin: 0;
	display: block;
	margin-block-start: 0em;
	margin-block-end: 0em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 0px;
	margin-top: 1em;
	padding-left: 1em;
}

li {
	cursor: pointer;
}

li:hover {
	background-color: pink;
}
.main-wrapper {
	width: 100vw;
	height: 100%;
	display: grid; 
	grid-template-columns: 1fr 4fr; 
	grid-template-rows: 1fr; 
	grid-column-gap: 0px;
	grid-row-gap: 0px; 
	background-color: lightgrey;
}

.left-col {
	background-color: #E6E6E6;
	filter: blur(5px);
	/*grid-area: 1 / 1 / 2 / 3;*/
} 

.left-col:hover {
	filter: blur(0px);
} 

.image-wrapper { 
	grid-area: 1 / 2 / 2 / 3;
	display: grid;
	grid-template-columns: 1fr 4fr; 
	grid-template-rows: repeat(5, 1fr); 
	/*grid-column-gap: 10px;
	grid-row-gap: 10px; */
	background-color: #999999;

 } 
/* Images */
.image-wrapper img {
	max-width: 70%;
	margin: 0 auto;
	padding: 10px 0 0 0;
}

.image-title {
	background-color: white;
	display: flex;
	justify-content: space-between;
	border-right: 1px solid black;
	border-left: 1px solid black;
	padding: 0 10px;
	/*filter: blur(5px);*/
	transition: ease 200ms;
}

.image-title:hover {
	filter: blur(0px);
}
/* Footer */

.footer {
	position: fixed;
	bottom: 5px;
	right: 10px;
	width: auto;
}

.footer p {
	font-size: 8px;
}
/* Responsive */
