/* Variables */

@font-face {
    font-family: 'Sohne';
    src: url('assets/fonts/Sohne-BuchKursiv.woff2') format('woff2'),
        url('assets/fonts/Sohne-BuchKursiv.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Sohne';
    src: url('assets/fonts/Sohne-Halbfett.woff2') format('woff2'),
        url('assets/fonts/Sohne-Halbfett.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sohne';
    src: url('assets/fonts/Sohne-HalbfettKursiv.woff2') format('woff2'),
        url('assets/fonts/Sohne-HalbfettKursiv.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Sohne';
    src: url('assets/fonts/Sohne-Buch.woff2') format('woff2'),
        url('assets/fonts/Sohne-Buch.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


/* Typography */

p, a {
	font-family: Sohne, sans-serif;
	font-size: 3.5em;
	line-height: 1em;
	letter-spacing: -0.05em;
	margin-block-start: 0em;
	margin-block-end: 0em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}

/* Main */

body {
	margin: 0;
	border: 1px solid black;
	font-size: 1vw;
}

::selection {
  color: red; 
  background: yellow;
}

ul {
	list-style: none;
	margin: 0;
	display: block;
	margin-block-start: 0em;
	margin-block-end: 0em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 0px;
	margin-top: 0em;
	/*padding-left: 1em;*/
}

li {
	cursor: pointer;
}

li:hover {
	background-color: darkred;
}
.main-wrapper {
	height: 100%;
	width: 100vw;
	display: grid; 
	grid-template-columns: 1fr 4fr; 
	/*grid-template-rows: 1fr; */
	grid-column-gap: 0px;
	grid-row-gap: 0px; 
	background-color: lightgrey;
}

.left-col {
	/*width: 10vw;*/
	/*background-color: #E6E6E6;*/
/*	filter: blur(5px);*/
	
	/*top: 20px;*/
	/*grid-area: 1 / 1 / 2 / 3;*/
} 

.left-col:hover {
/*	filter: blur(0px);*/
} 

.right-col {
	max-width: 90vw;
/*	grid-area: 1 / 2 / 2 / 3;*/
	/*grid-template-rows: repeat(5, 1fr);*/
}

.nav {
	position: fixed;
}

 .switcher {
 	position: sticky;
 	top: 0;
 	display: flex;
 	flex-direction: row;
 	margin: 0;
 	justify-content: space-between;
 	width: 45%;
 	left: 45%;
 	z-index: 10;
 }

 .switcher a {
 	font-size: 1em;
 	width: auto;
 	/*background-color: darkred;
 	border: 1px solid black;*/
 	cursor: pointer;
 	padding: 0.3em;
 }

 .switcher a:hover {
 	filter: invert(1);
 }

 .switch {
 	position: sticky;
 	top: 0;

 }

.image-table {
	/*margin-top: -25px;*/
}

.image-wrapper { 
	display: grid;  
	grid-template-columns: 30% auto;
	/*grid-column-gap: 10px;
	grid-row-gap: 10px; */
	background-color: #999999;
	overflow-y: auto;
 } 

/* Images */
.image-wrapper img {
	border-top: 1px solid black;
	max-width: 100%;
	margin: 0 auto;
	/*padding: 1%;*/
}

.image-title {
	border-top: 1px solid black;
	position: -webkit-sticky;
	top: 10px;
	background-color: white;
	display: flex;
	grid-template-columns: 1fr 1fr;
	justify-content: space-between;
	border-right: 1px solid black;
	border-left: 1px solid black;
	/*padding: 0 10px;*/
	/*filter: blur(5px);*/
	transition: ease 200ms;
}

.image-title:hover {
	filter: blur(0px);
}
/* Footer */

.footer {
	position: fixed;
	bottom: 5px;
	left: 10px;
	width: auto;
}

.footer p {
	font-size: 12px;
}
/* Responsive */
