/* Variables */

@font-face {
    font-family: 'Sohne';
    src: url('assets/fonts/Sohne-BuchKursiv.woff2') format('woff2'),
        url('assets/fonts/Sohne-BuchKursiv.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Sohne';
    src: url('assets/fonts/Sohne-Halbfett.woff2') format('woff2'),
        url('assets/fonts/Sohne-Halbfett.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sohne';
    src: url('assets/fonts/Sohne-HalbfettKursiv.woff2') format('woff2'),
        url('assets/fonts/Sohne-HalbfettKursiv.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Sohne';
    src: url('assets/fonts/Sohne-Buch.woff2') format('woff2'),
        url('assets/fonts/Sohne-Buch.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arial Narrow';
    src: /*url('assets/fonts/Sohne-Buch.woff2') format('woff2'),*/
        url('https://github.com/coderiver/fotomost/blob/76ad9ca8d66baa1175739ffb8296ff41d8aa4b99/fonts/ArialNarrow.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Typography */

p, a {
	font-family: Arial Narrow, sans-serif;
	font-size: 1.2em;
	line-height: 1em;
	letter-spacing: -0.05em;
	margin-block-start: 0em;
	margin-block-end: 0em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	/*text-transform: uppercase;*/
	/*background-color: yellow;*/
}

h2 {
	font-family: Arial Narrow, sans-serif;
	font-size: 1.2em;
	line-height: 1em;
	letter-spacing: -0.05em;
	margin-block-start: 0em;
	margin-block-end: 0em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	color: red;
	font-weight: 600;
	/*text-transform: uppercase;*/
	/*background-color: yellow;*/
}

h1 {
	font-family: Arial Narrow, sans-serif;
	font-size: 1em;
	line-height: 1em;
	letter-spacing: -0.05em;
	margin-block-start: 0em;
	margin-block-end: 0em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	font-weight: normal;
}

/* Main */

body {
	margin: 0;
	/*border: 1px solid black;*/
	font-size: 1vw;
}

::selection {
  color: red; 
  background: yellow;
}

ul {
	list-style: none;
	margin: 0;
	display: block;
	margin-block-start: 0em;
	margin-block-end: 0em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 0px;
	margin-top: 0em;
	/*padding-left: 1em;*/
}

li {
	cursor: pointer;
	border-bottom: 1px solid black;
	border-top: none;
}

li:hover {
	background-color: black;
	filter: brightness(115%) grayscale(100%) contrast(5000%) blur(1px);
	color: white;
}

video {
	/*max-height: 90vh;*/
	max-width: 70vw;
	object-fit: contain;
	padding: 1vh;
}

/* Header */
.header {
	position: fixed;
	z-index: 20;
	/*left: 10vw;*/
	top: 0;
	width: 10vw;
	text-align: justify;
	display: flex;
	justify-content: space-between;
}

.header p{
	text-align: justify;
	font-size: 1em;
	color: white;
}

.table-title {
	position: fixed;
	z-index: 20;
	left: 10vw;
	top: 0;
	width: 20vw;
	text-align: justify;
	display: flex;
	justify-content: space-between;
}

.main-wrapper {
	height: 100%;
	width: 100%;
	display: grid; 
	grid-template-columns: 10vw 90vw; 
	/*grid-template-rows: 1fr; */
	grid-column-gap: 0px;
	grid-row-gap: 0px; 
	/*background-color: lightgray;*/
}

.left-col {
	/*width: 10vw;*/
	/*background-color: #E6E6E6;*/
	/*filter: blur(5px);*/
	transition: ease 200ms;
	/*top: 20px;*/
	/*grid-area: 1 / 1 / 2 / 3;*/
	/*box-shadow: 0 0 3px 3px white;*/
	z-index: 30;
} 

.left-col:hover {
	/*filter: blur(0px);*/

} 

.right-col {
	/*width: 90vw;*/
	/*margin-top: 2.5em;*/
/*	grid-area: 1 / 2 / 2 / 3;*/
	/*grid-template-rows: repeat(5, 1fr);*/
}

.nav {
	position: fixed;
	width: 10vw;
	margin-top: 2vh;
}

 .switcher {
 	position: fixed;
 	top: 20%;
 	left: 0;
/* 	display: flex;
 	flex-direction: column;*/
 	margin: 0;
 	justify-content: space-between;
 	width: 10vw;
 	/*box-shadow: 0 0 3px 3px white;*/
 	background-color: white;
 	z-index: 50;
 }

 .switcher a {
 	/*font-size: 1em;*/
 	width: auto;
 	/*background-color: darkred;
 	border: 1px solid black;*/
 	cursor: pointer;
 	/*padding: 0.3em;*/
 }

 .switcher a:hover {
 	filter: invert(1);

 }

 .active {
/* 	background-color: darkred;
 	box-shadow: 0 0 3px 3px darkred;*/
 	filter: brightness(115%) grayscale(100%) contrast(5000%) blur(1px);
 }

 .switch {
 	position: sticky;
 	top: 0;
 }

.image-table {
	/*margin-top: -25px;*/
	display: grid;
	grid-template-columns: 100%;
	/*grid-row-gap: 2em;*/
}


.image-wrapper { 
	display: flex;
	justify-content: center;
	/*grid-template-columns: 20vw auto;*/
	background-color: dimgray;

 } 


/* Images  */
.image-wrapper img {
	/*border-top: 2.5vh solid black;*/
	max-width: 42vw;
	width: auto;
	margin: 0 auto;
	/*border: 1px solid black;*/
	padding: 0 1vh 1vh 1vh;
	/*padding-bottom: 0;*/
/*	padding-top: 0;*/
	/*filter: brightness(115%) grayscale(100%) contrast(5000%) blur(1px);*/
}

.first {
	padding-top: 1vh;
}


.image-title {
	/*border-top: 1px solid black;*/
	position: -webkit-sticky;
	top: 10px;
	background-color: darkgray;
	/*box-shadow: 0 0 3px 3px darkgray;*/
	display: flex;
	grid-template-columns: 1fr 1fr;
	justify-content: space-between;
	/*border-right: 1px solid black;
	border-left: 1px solid black;*/
	/*padding: 0 10px;*/
	/*filter: blur(5px);*/
	padding-top: 2.5vh;
	transition: ease 200ms;
	/*font-size: 3em;*/
}

.image-title:hover {
	filter: blur(0px);
}

.progress { 
	position: fixed; 
	top: 0; 
	right: 0px; 
	width: 10px;
	/*box-shadow: 0 0 3px 3px purple;*/
	background-color: black; 
	transition: all linear 0.1s;
	min-width: 1%; 
}

#about {
	position: fixed;
	top: 2.5vh;
	left: 12vw;
	box-shadow: 0 0 3px 3px lightyellow;
	background-color: lightyellow;
	/*border: 1px solid black;*/
	width: 20vw;
	display: none;
	z-index: 50;
}

#contact {
	position: fixed;
	top: 8vh;
	left: 12vw;
	box-shadow: 0 0 3px 3px white;
	background-color: white;
	/*border: 1px solid black;*/
	width: 20vw;
	display: none;
	z-index: 50;
}

#clients {
	position: fixed;
	top: 14.5vh;
	left: 12vw;
	box-shadow: 0 0 3px 3px white;
	background-color: white;
	/*border: 1px solid black;*/
	width: 20vw;
	display: none;
	z-index: 50;
}

#video-table {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	width: 90vw;
	max-height: 100%;
	z-index: 20;
	overflow-y: scroll;
}

.show {
	display: grid;
}

.video-wrapper {
	display: flex;
	justify-content: center;
	background-color: black;
}

/* Footer */
.footer {
	position: fixed;
	bottom: 1px;
	right: 1px;
	width: auto;
}

.footer p {
	font-size: 12px;
}
/* Responsive */
